<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="col-md-12">
        <div class="jumbotron col-md-8 col-md-offset-2">
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>Имя пользователя</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input class="btn btn-default" type="submit" value="Войти" />
    <input type="hidden" name="next" value="/" />
</form>
            </div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
</html>
