<form class="js-form-user-create">{% csrf_token %}
    <ul class="list-group js-to-hide">
            <li class="list-group-item">Имя<div style="float: right;">{{ form.username }}</div></li>
            <li class="list-group-item">Пароль<div style="float: right;">{{ form.password1 }}</div></li>
            <li class="list-group-item"> Подтверждение пароля<div style="float: right;">{{ form.password2 }}</div></li>
        </ul>
    <input class="btn btn-default js-user-create" type="submit" value="Зарегистрироваться"/>
</form>